[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=exportmanager
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=ExportManager
Comment=Automes multiple exportoperations for .kra files
